# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/
[Pp]ackages/com.unity.package-manager/
UserSettings/

# Visual Studio
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.tmp
*.userprefs

# OS
.DS_Store
Thumbs.db